.row {
    background: white;
    margin: 50px 75px 50px 75px;
}

h1 {
    color: lightseagreen;
    font-family: Georgia;
    font-weight: bold;
}

h2 {
    color: lightseagreen;
    font-family: Georgia;
    font-weight: bold;
}

